* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.mt-7 {
    margin-top: 7rem;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
    border-radius: 2rem;
}

.indicator {
    position: fixed;
    left: 0;
    top: 7rem;
    width: 0;
    height: .3rem;
    background-color: #8A33FD;
    z-index: 999;
}